################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LightSource
*.vcxproj
*.user
*.sln
*.obj
*.pdb
*.idb
*.lib
*.recipe
*.ilk
*.log
*.tlog
/LightSource/LightSource.vcxproj.filters
*.pgn
*.cob
/LightSource/chess_working_directory/exa.cob
*.suo
*.filters
/bin/Debug-windows-x86_64/LightSource/LightSource.exe
/bin/Debug-windows-x86_64/LightSource-Lobby/LightSource-Lobby.exe
/bin/Dist-windows-x86_64/LightSource/LightSource.exe
/bin/Release-windows-x86_64/LightSource/LightSource.exe
/bin/Release-windows-x86_64/LightSource-Lobby/LightSource-Lobby.exe
/bin/Dist-windows-x86_64/LightSource-Lobby/LightSource-Lobby.exe
/bin/Dist-windows-x86_64/LightSource-Lobby/singleApp.txt
/bin/Debug-windows-x86_64/Tool/Tool.exe
/bin/Dist-windows-x86_64/Tool/Tool.exe
/bin/Release-windows-x86_64/Tool/Tool.exe
/bin/Dist-windows-x86_64/Tool
/bin-int
/vendor/ChessAPI/bin-int
/vendor/Web/bin-int
