################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LightSource
*.vcxproj
*.user
*.sln
*.obj
*.exe
*.pdb
*.idb
*.lib
*.recipe
*.ilk
*.log
*.tlog
/LightSource/LightSource.vcxproj.filters
*.pgn
*.cob
/LightSource/chess_working_directory/exa.cob
*.suo
